@import '../../var.sass'

.settings
  flex: 0
  display: flex
  flex-direction: column
  margin: 16px 8px 56px 8px
  text-align: center

  &__fps
    &-label
      font-size: $font-size-primary

    &-slider
      margin-top: 18px
